.burgerCard{
    flex: 1;
    position: relative;
    min-width: 45%;
    max-width: 50%;
    cursor: pointer;
}
.count{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleContainer{
    min-height: 88px;
    text-align: center;
}
