.ingredientsBlock{
    width: 600px;
}
.tabs{
    display: flex;
}
.tabs > *{
    flex: 1;
}
.ingredientItems{
    height: 750px;
    overflow: auto;
}
.ingredientItems::-webkit-scrollbar {
    width: 8px;
}
.ingredientItems::-webkit-scrollbar-track {
    background-color: #2F2F37;
}
.ingredientItems::-webkit-scrollbar-thumb {
    background: #8585AD;
}
.itemsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.burgerCard{
    flex: 1;
    position: relative;
    min-width: 45%;
    max-width: 50%;
    cursor: pointer;
}
.count{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleContainer{
    min-height: 88px;
    text-align: center;
}

